.todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12.5%;
    font-size: 1.5rem;
}

.todo-item input{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}